header {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 15px 0;
    border: solid;
    border-width: 1px;
    text-align: center;
}

.navigation-primary {
    display: inline-block;
    /* width: auto; */
    margin: auto;
}

.navigation-primary a {
    padding: 5px;
}

.navigation-secondary {
    display: inline-block;
    position: absolute;
    right: 0px;
    /* width: auto; */
    /* float: right; */
    margin: auto;
    /* margin-right: 10px; */
}

.navigation-secondary a {
    padding: 5px;
}